.DS_Store
.idea
*.log
tmp/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache

.direnv
.direnv/
build
build/
android/lib
android/assets

*.apk
*.apk-build
*.apk.idsig
